<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:insert="fragments/head :: head">
        <title>Dashboard</title>
    </head>
    <body>
        <header th:insert="fragments/header :: header"></header>

        <main role="main" class="container">
            <div class="starter-page">
                <h1>Dashboard</h1>
                <p class="lead">
                    Main dashboard page
                </p>
            </div>
        </main>

    </body>
</html>