<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:form="http://www.w3.org/1999/html">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Resources links -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/981976bb42.js" crossorigin="anonymous"></script>

        <!-- Title -->
        <title>Update project</title>
        <!-- Styles -->
        <link th:href="@{/css/global.css}" rel="stylesheet">
        <link th:href="@{/css/register.css}" rel="stylesheet">
    </head>

    <body class="text-center">
        <header th:insert="common/navigation-header :: navbar"></header>
        <header th:insert="common/navigation-header :: logoutModal"></header>

        <form class="form-sign-up" th:action="@{/projects/{projectUuid}/update(projectUuid=${project.uuid})}" th:object="${project}" method="POST">

            <h1 class="h3 mb-3 font-weight-normal">Update project</h1>

            <input type="text" th:field="*{projectTag}" class="form-control"
                   id="projectTag" th:errorclass="is-invalid"
                   placeholder="Enter project tag">

            <input type="text" th:field="*{name}" class="form-control"
                   id="name" th:errorclass="is-invalid"
                   placeholder="Enter project name">

            <input type="text" th:field="*{description}" class="form-control"
                   id="description" th:errorclass="is-invalid"
                   placeholder="Enter description">

            <select class="form-control" name="projectStatus" th:field="*{projectStatus}">
                <option th:each="status : ${T(site.transcendence.projectmanager.model.projects.ProjectStatus).values()}"
                        th:value="${status}" th:text="${status}"></option>
            </select>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>

        </form>

    </body>
</html>